.customer {
  &-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
