.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "Rubik", sans-serif;
}

.button {
  color: #000;
  text-decoration: none;
  border: none;
  background-color: #f53838;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  color: #fff;
}
.button-outline {
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
}
