.hero {
  margin-top: 43px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    max-width: 555px;
    margin-bottom: 150px;
  }
  &-img {
    transform: translate(90%, -40%);
  }
  .button {
  }
}
