.hero {
  margin-top: 43px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
  }
  &-content {
    max-width: 555px;
  }
  &-img {
    transform: translate(90%, -40%);
  }
}
