.hero {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    max-width: 555px;
  }
  &-img {
    position: relative;
    right: 0;
    top: 0;
  }
}
