.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  justify-content: flex-start;
  &-link {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    // font-weight: 400;
    font-size: 16px;
    line-height: calc(18.96 / 16);
    text-transform: capitalize;
    &-auth {
      font-weight: 500;
      color: $heading-color;
    }
  }
  &-auth {
    display: flex;
    justify-content: flex-end;
    // align-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 0 30px;
  }
  &-sign-up {
    color: $secondary-color;
  }
}
