.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
  }
  &-auth {
    display: flex;
    justify-content: flex-end;
    // align-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 0 30px;
  }
}
