.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
  }
  &-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    // gap: 0 30px;
  }
}
