.recommend {
  background-color: #dddddd;
  color: #4f5665;
  padding: 24px 0;
  text-align: center;
  a {
    color: #f53535;
    display: inline;
    text-align: center;
  }
}
.footer-copyright {
  color: inherit;
  display: inline;
  text-align: center;
}
